---
import Arrows from "./icons/Arrows.astro";
import UnitedStates from "./icons/UnitedStates.astro";
import Venezuela from "./icons/Venezuela.astro";
import { get } from "@lib-dollar/get";
const global = await get();

const { DollarToConvert, TwoDollarToConvert } = Astro.props;

interface Props {
  DollarToConvert: string;
  TwoDollarToConvert: string;
}

const initialDollarAmount = parseFloat(DollarToConvert);
const TwoinitialDollarAmount = parseFloat(TwoDollarToConvert);
const TwoBolivaresConvert = TwoinitialDollarAmount * global.monitors.bcv.price;
const BolivaresConvert = initialDollarAmount * global.monitors.bcv.price;
---

<article
  class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 text-primary-white gap-3 mt-4 my-4"
>
  <section
    class="border border-gray-200 dark:border-dusky-alt dark:bg-primary-white dark:bg-[#23262e] bg-moonlit overflow-hidden rounded-md items-center"
  >
    <div class="p-2 border-b border-gray-200 dark:border-secondary -mb-2">
      <div class="flex">
        <UnitedStates />
        <p class="ml-2 text-sm text-left flex items-center">
          Equivalente de €<strong class="ms-1 me-2">{DollarToConvert}</strong>
          Euros
        </p>
      </div>
    </div>
    <Arrows />
    <div class="p-2 dark:bg-tertiary bg-secondary-white -mt-2">
      <p class="text-sm text-right flex items-center justify-end">
        a Bolívares son Bs.S <strong class="ms-1 me-2"
          >{BolivaresConvert.toFixed(2)}</strong
        >
        <Venezuela />
      </p>
    </div>
  </section>

  <section
    class="border border-gray-200 dark:border-dusky-alt dark:bg-primary-white dark:bg-[#23262e] bg-moonlit overflow-hidden rounded-md items-center"
  >
    <div class="p-2 border-b border-gray-200 dark:border-secondary -mb-2">
      <div class="flex">
        <UnitedStates />
        <p class="ml-2 text-sm text-left flex items-center">
          Equivalente de €<strong class="ms-1 me-2">{TwoDollarToConvert}</strong
          >
          Euros
        </p>
      </div>
    </div>
    <Arrows />
    <div class="p-2 dark:bg-tertiary bg-secondary-white -mt-2">
      <p class="text-sm text-right flex items-center justify-end">
        a Bolívares son Bs.S <strong class="ms-1 me-2"
          >{TwoBolivaresConvert.toFixed(2)}</strong
        >
        <Venezuela />
      </p>
    </div>
  </section>
</article>
