<footer
  class="group w-full text-sm text-neutral-600 animate-in fade-in-25 dark:text-neutral-400 bg-white/60 backdrop-blur-md dark:bg-neutral-900/60 bottom-0 py-4"
>
  <div class="container flex items-center justify-between">
    <div class="flex items-center space-x-2">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="14"
        height="14"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-heart text-red-500 group-hover:transform group-hover:animate-pulse"
        ><path
          d="M19 14c1.49-1.46 3-3.21 3-5.5A5.5 5.5 0 0 0 16.5 3c-1.76 0-3 .5-4.5 2-1.5-1.5-2.74-2-4.5-2A5.5 5.5 0 0 0 2 8.5c0 2.3 1.5 4.05 3 5.5l7 7Z"
        ></path></svg
      ><a
        href="https://astro.build/blog/astro-5-beta/"
        rel="noreferrer"
        target="_blank"
        class="flex items-center space-x-1"
        ><p>Made by Angel using</p><svg
          xmlns="http://www.w3.org/2000/svg"
          width="14"
          height="14"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-arrow-up-right"
          ><path d="M7 7h10v10"></path><path d="M7 17 17 7"></path></svg
        ></a
      >
    </div><div class="flex items-center space-x-2">
      <a
        href="https://linkedin/in/angelurrutdev"
        rel="noreferrer"
        target="_blank"
        class="flex items-center space-x-1"
        ><p class="hidden md:block">Linkedin</p><svg
          xmlns="http://www.w3.org/2000/svg"
          width="14"
          height="14"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-arrow-up-right"
          ><path d="M7 7h10v10"></path><path d="M7 17 17 7"></path></svg
        ></a
      >
    </div>
  </div>
</footer>
