<section
  class="mt-4 p-4 rounded-xl border dark:border-secondary border-gray-200 dark:bg-primary bg-secondary-white overflow-hidden"
>
  <canvas
    id="chart"
    style="display: block; box-sizing: border-box; height: 333px; width: 666px;"
    width="666"
    height="333"></canvas>
</section>
