---
import ThemeToggle from "./ThemeToggle.astro";

const { value, value_datetime, sign } = Astro.props;

interface Props {
  value: number;
  value_datetime: string;
  sign: string;
}
---

<header
  class="border-b py-1 md:py-2 ring-white/40 dark:ring-white dark:border-b-white/40 border-b-white/20 px-2 dark:text-white text-dusky bg-white dark:bg-raisin-black flex flex-row justify-between items-center"
>
  <nav class="flex flex-row">
    <img
      src="/145.svg"
      alt="vecambio"
      width="35"
      height="35"
      loading="lazy"
      decoding="async"
    />
    <ul class="gap-x-2 hidden md:flex flex-row justify-start mx-5">
      <li>
        <a
          class="inline-flex items-center space-x-3 justify-center whitespace-nowrap rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 disabled:pointer-events-none disabled:opacity-50 dark:focus-visible:ring-neutral-700 focus-visible:ring-neutral-500 border border-neutral-200 bg-white shadow-sm hover:bg-neutral-100 hover:text-neutral-900 dark:border-neutral-800 dark:bg-cuber-black dark:hover:bg-raisin-black dark:hover:text-neutral-50 dark:hover:border-neutral-700/50 h-9 px-4 py-2"
          href="/"
        >
          Convertir Dolares
        </a>
      </li>

      <li>
        <a
          class="inline-flex items-center space-x-3 justify-center whitespace-nowrap rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 disabled:pointer-events-none disabled:opacity-50 dark:focus-visible:ring-neutral-700 focus-visible:ring-neutral-500 border border-neutral-200 bg-white shadow-sm hover:bg-neutral-100 hover:text-neutral-900 dark:border-neutral-800 dark:bg-cuber-black dark:hover:bg-raisin-black dark:hover:text-neutral-50 dark:hover:border-neutral-700/50 h-9 px-4 py-2"
          href="/euros"
        >
          Convertir Euros
        </a>
      </li>

      <li>
        <a
          class="inline-flex items-center space-x-3 justify-center whitespace-nowrap rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 disabled:pointer-events-none disabled:opacity-50 dark:focus-visible:ring-neutral-700 focus-visible:ring-neutral-500 border border-neutral-200 bg-white shadow-sm hover:bg-neutral-100 hover:text-neutral-900 dark:border-neutral-800 dark:bg-cuber-black dark:hover:bg-raisin-black dark:hover:text-neutral-50 dark:hover:border-neutral-700/50 h-9 px-4 py-2"
          href=""
        >
          Calculadora
        </a>
      </li>
    </ul>
  </nav>

  <div class="flex items-center space-x-4 py-2 px-4">
    <h2
      class="text-accent flex text-sm md:text-base rounded-full border-2 px-3 py-1 text-center min-w-32 lg:min-w-80 items-center"
    >
      {sign}
      <strong> 1.00 </strong>
      <span class=""> = </span>
      <span id="price-usd">
        Bs.S <strong class="">{value}</strong>
      </span>
      <span class="hidden lg:flex ms-2"> {value_datetime}</span>
    </h2>
    <ThemeToggle />
  </div>
</header>
