---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Al Cambio</title>
  </head>
  <body
    class="bg-moonlit dark:bg-dusky min-h-screen scroll-smooth font-sans antialiased selection:bg-neutral-200 dark:selection:bg-neutral-700"
  >
    <main class="px-6 md:px-0">
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style is:global>
  :root {
    color-scheme: light dark;
  }

  html {
    scroll-behavior: smooth;
  }

  @media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }

  @media (prefers-color-scheme: dark) {
    body {
      color: rgba(255, 255, 255, 0.9);
    }
  }
</style>
